<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
   <head>
      <title>Error</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   </head>
   <body>
        <div class="container-fluid">
                <div align="center">
                        ERROR №{{status}} <br>
                        {{description}}<br>

                        
                             if you don't know where you can go back >> <a class="nav-link active" href="/">Home</a>
                        

                            <p><img src="https://cdn1.savepice.ru/uploads/2018/12/18/53b51c73317bda3766b92db1c6ca7c21-full.jpg" alt=""></p>    
                            </div>
            </div>
   </body>
</html>