<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>registration </title>
</head>
        <p>
            {{log}}
        </p>
        <p>
           {{pas}} 
        </p>
        <p>
                {{fnam}} 
             </p>
             <p>
                    {{lnam}} 
                 </p>
                 <p>
                        {{tel}} 
                     </p>
                     <p>
                            {{about}} 
                         </p>
    </form>
</body>
</html>